@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--accent: #0061fe;
	--bgColor: #cbe3fa;
	--borderColor: #8db2d4;
	--focusColor: #60adf5;
}

body {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
}

h1 {
	display: inline-block;
	color: #333;
	width: 300px;
	padding: 7px 20px;
	text-align: center;
	outline: none;
	font-weight: 400;
}

.add-btn::before {
	content: "+";
	color: grey;
	font-size: smaller;
	margin-right: 0.3rem;
}

h1:hover, h1:focus {
	min-width: 300px;
	background-color: #fff;
}

#add-item {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.2rem;
	padding: 12px 20px;
	margin: 8px;
	border: 2px solid var(--borderColor);
	background-color: #fff;
	border-radius: .2rem;
	width: 300px;
}

#add-item:focus {
	border: solid thin var(--accent);
	outline: solid thin var(--accent);
	background-color: var(--bgColor);
	color: var(--accent);
	font-weight: 500;
}

input::-webkit-input-placeholder {
    color: #9ea6c7;
	text-shadow: 3px 1px 24px rgba(0, 0, 0, 0.1);
}
input:focus::-webkit-input-placeholder {
    color: var(--focusColor);
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: red;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: red;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: red;
}

#list-wrapper {
	display: flex;
	flex-direction: column;
}

#item-wrapper {
	display: flex;
	align-items: center;
	gap: .3rem;
}

.item-label {
	font-size: 1.2rem;
	padding: .3rem;
	outline: none;
}

.item-label:hover {
	cursor: pointer;
	pointer-events: all;
	background-color: #fff;
}

.item-label:focus {
	background-color: #fff;
}

.btn {
	background-color: #2caf50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	pointer-events: all;
}

.btn:hover {
	background-color: #4caf50;
}

p {
	font-weight: 900;
}

.title {
	color: var(--accent);
}

ul {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	padding: 0;
}

ul li {
	font-size: 1.2rem;
	line-height: 1.5;
}

#item-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem !important;
}

input[type="checkbox"]{
	border: solid 1px red;
}

.hidden {
	position: absolute;
	overflow: hidden;
	/*clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
